<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hola Bienvenido a mi api de Monedero by Codigo</p>
    <p>Presentado por {{ nombre }}</p>
    <p>Los integrantes son :</p>
    {# forma de hacer un comentario #}
    <ol>
        {% for integrante in integrantes %}
        <li>integrante</li>
        {% endfor %}
    </ol>
    {{ integrantes }}
       {# en jinja se usa el diccionario como json o js{dicionario.llave}, 
    si no existe no sale error, solo nada #}
    <p>El usuario es: {{ usuario.nombre }}</p>
 
    <table border="1">
        <tr>
            <th>Seleccion</th>
            <th>Clasificado</th>
        </tr>
        {% for seleccion in selecciones %}
        <tr>
            <td>
                {{ seleccion.nombre }}
            </td>
            <td>
                {% if seleccion.clasificado is true %} 'Nos vemos en Qatar'
                {% elif seleccion.clasificado is false %} 'Nos vemos luego' 
                {% else %}
                'No se sabe'
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

































